/* Impostazioni di base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  /* Intestazione */
  header {
    background-color: #003366;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Contenuto */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #003366;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Piè di pagina */
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  /* Stili specifici per la pagina "Le Gare" */
  #legare {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #legare h2 {
    color: #003366;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  #legare p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  

